body {
	font-size: 18px;
	line-height: 1.6;
	font-family: Verdana;
	width: 80%;
	min-width: 640px;
	margin: 10px auto;
	border: 1px solid #aaa;
	padding: 10px;
	box-shadow: 3px 3px 6px 3px #aaa;
}

a {
	color: rgb(125, 180, 156);
}

table {
	border-collapse: collapse;
}

table tr td, table tr th {
	border: 1px solid #000;
	vertical-align: top;
	padding: 5px;
}

table th {
	background: #eee;
	text-align: center;
}

table tr td:nth-child(2) {
	text-align: center;
}

pre {
	font-size: 18px;
	overflow: auto;
}

.jq-tooltip {
	border: 1px dotted #999;
	background: rgba(125, 180, 156, 0.6);
	padding: 3px;
	min-width: 300px;
}

